<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>formatjs-element Demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="elements/custom-parser.html">
  </head>
  <body>

    <p>An example of <code>formatjs-element-formatter</code> behavior to parse messages with custom parse function inside the component:</p>
    
    <template is="dom-bind" id="app">
    
      <custom-parser items="{{items}}" locale="{{locale}}"></custom-parser>
      
      <hr>
      
      <label for="items">Items: </label>
      <select id="items" on-change="setItems">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="3" selected="selected">3</option>
        <option value="1000">1000</option>
      </select>
      
      <label for="locale">Locale:</label>
      <select id="locale" on-change="setLocale">
        <option value="en-US">en-US</option>
        <option value="es-ES" selected="selected">es-ES</option>
      </select>
    
    </template>
    
    <script>
      var app = document.querySelector('#app');
      app.locale = 'es-ES';
      app.items = 3;

      app.setLocale = function(){
        app.locale = document.querySelector('#locale').value;
      }
      
      app.setItems = function(){
        app.items = parseInt(document.querySelector('#items').value,10);
      }
      
      
    </script>

  </body>
</html>
